<a href="https://colab.research.google.com/github/efaber314/DATA690_WANG/blob/master/assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Assignment 8, Data Science 690
#Emily Faber, Spring 2020

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import sem, t

In [0]:
url = "https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv"
df = pd.read_csv(url, usecols = ['CONTROL','MD_EARN_WNE_P10'])

In [82]:
df.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
2        2           39600
3        1           46700
4        1           27700

The control column references the type of institution. 1 for PUBLIC, 2 for PRIVATE NON-PROFIT, 3 for PRIVATE FOR-PROFIT

In [83]:
df = df.loc[df['CONTROL']== 1]
df.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
3        1           46700
4        1           27700
5        1           44500

In [104]:
df = df.loc[df["MD_EARN_WNE_P10"] != 0]
df = df.loc[df["MD_EARN_WNE_P10"] != 'PrivacySuppressed']
df.dropna(how = 'any', axis = 'rows', inplace = True)
df.sample(5)

      CONTROL MD_EARN_WNE_P10
6498        1           35400
375         1           38600
3371        1           37300
1365        1           29000
3001        1           53900

In [0]:
sample50 = df.sample(50)

In [113]:
mean50 = np.mean(sample50['MD_EARN_WNE_P10'].astype('int'))
std50 = sem(sample50['MD_EARN_WNE_P10'].astype('int'))
print("Mean:", mean50)
print("Standard deviation:", np.round(std50, 3))

Mean: 33094.0
Standard deviation: 1645.4

In [114]:
n = len(sample50['MD_EARN_WNE_P10'])
intervals = [.68, .95, .997]
for confidence in intervals:
  interval = std50*t.ppf((1+confidence)/2, n-1)
  print("The", confidence, "interval for a sample of 50 is from",np.round(mean50 - interval,3), "to",np.round(mean50 + interval, 3))

The 0.68 interval for a sample of 50 is from 31440.945 to 34747.055
The 0.95 interval for a sample of 50 is from 29787.444 to 36400.556
The 0.997 interval for a sample of 50 is from 27954.87 to 38233.13

In [115]:
populationMean = np.mean(df['MD_EARN_WNE_P10'].astype('int'))
print("Population mean:", np.round(populationMean,3))

Population mean: 36083.216

In [116]:
print("The difference between the population mean and the 50 sample mean is:", np.round(np.abs(populationMean - mean50),3))

The difference between the population mean and the 50 sample mean is: 2989.216

In [117]:
sample100 = df.sample(100)
mean100 = np.mean(sample100['MD_EARN_WNE_P10'].astype('int'))
std100 = sem(sample100['MD_EARN_WNE_P10'].astype(int))
print("mean of 100 samples", mean100)
print("standard error of 100 samples", np.round(std100,3))

mean of 100 samples 34779.0
standard error of 100 samples 889.097

In [119]:
n = len(sample100['MD_EARN_WNE_P10'])
for confidence in intervals:
  interval = std50*t.ppf((1+confidence)/2, n-1)
  print("The", confidence, "interval for a sample of 100 is from", np.round(mean50 - interval,3), "to", np.round(mean50 + interval,3))

The 0.68 interval for a sample of 100 is from 31449.459 to 34738.541
The 0.95 interval for a sample of 100 is from 29829.169 to 36358.831
The 0.997 interval for a sample of 100 is from 28087.138 to 38100.862

In [120]:
print("the difference between the population mean and the sample 100 mean is:", np.round(np.abs(populationMean - mean100),3))

the difference between the population mean and the sample 100 mean is: 1304.216

The difference between the population mean and the sample mean is smaller for sample containing 100 values than the sample containing 50 values. The standard error also decreases when you increase the sample size. This shows that the larger sample size will statistically lead to better estimates.